
{{!-- This dynamically generates the HTML page and post it to the broweser --}}

<div class="container">
    <div class="row">
        <span class="col-12">
            <h1 class="text-center">My Personal FSBO House Tracker</h1>
        </span>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="jumbotron">

                <form action="/api/addlisting" method="POST">

                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Address</span>
                        </div>
                        <textarea class="form-control" aria-label="With textarea" name="address"></textarea>
                    </div>

                    {{!-- <label for="address">Address</label><br />
                    <input type="text" name="address" id="address" /> <br /> --}}
                    <label for="description">Description</label><br />
                    <input type="text" name="description" id="description" /> <br />
                    <label for="price">Price</label> <br />
                    <input type="number" name="price" id="price" /><br />

                    <label for="beds">Beds</label><br />
                    <input list="beds" name="beds">
                    <datalist id="beds">
                        <option value="1" selected />
                        <option value="2" />
                        <option value="3" />
                        <option value="4" />
                        <option value="5" />
                        <option value="6" />
                    </datalist> <br />

                    <label for="baths">Baths</label><br />
                    <input list="baths" name="baths">
                    <datalist id="baths">
                        <option value="1" selected />
                        <option value="2" />
                        <option value="3" />
                        <option value="4" />
                        <option value="5" />
                        <option value="6" />
                    </datalist> <br /> <br />

                    <input type="submit" value="Add Listing" class="btn btn-primary" />
                </form>
            </div>

        </div>
    </div>
</div>