{{!-- Handlebars about page --}}

<div class="jumbotron">

    <h1>About</h1>
    <p>
        My Personal FSBO House Tracker lets you keep track of potential home purchases by adding them, deleting them, and also making a favorites list. You will also have the ability to be able to add a house you purchased to the sold list, which is great for investors that purchase multiple investment properties.

    </p>
</div>